[workers]
count=1
long_runner_threads=2

[logging]
configfile=logging.yaml

[connection]
type=ws

[plugin]
configfile=plugin.conf

[storage]
temppath=@TEMP_PATH@
enstartius_dir=@ENSTRATIUS_DIR@

[cloud]
type=@CLOUD_TYPE@

[messaging]
retransmission_timeout=5
max_at_once=-1

[enstratius]
agentmanager_url=@AGENT_MANAGER_URL@
script_locations=common-linux
